* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(135deg, #ffffff, #eb9e9e);
  height: 100vh;
   margin:0;
    font-family: Arial;
}


.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #667eea;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.login-card button:hover {
  background: #5a67d8;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}   

.navbar{
    background:#ef5350;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

button{
    padding:8px 12px;
    border:none;
    cursor:pointer;
}

.dashboard{
    padding:20px;
}

.pokemon-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap:20px;
}

.pokemon-card{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
    border-radius:8px;
    background:white;
}